
<router-outlet></router-outlet>
<div class="col-12">
<a routerLink="create">Create product</a>
<form [formGroup]="productForm" (ngSubmit)="searchByName()">
  <input type="text" formControlName='name'>
  <button>Tìm theo tên</button>
</form>

    <input type="text" [(ngModel)]="from">
    <input type="text" [(ngModel)]="to">
    <button (click)="searchByPriceBetween()">Tìm theo giá</button>


  <input type="text" [(ngModel)]="nameC">

  <button (click)="searchByCategoryName()">Tìm theo tên Category</button>



  <h1> danh sách Category</h1>
<div class="row">
  <div class="col-3"><table border="1px">
    <tr>
      <td>STT</td>
      <td>Tên</td>
    </tr>
    <tr *ngFor="let c of listCategory; index as i">
      <td>{{i + 1}}</td>
      <td>{{c.name}}</td>

    </tr>
  </table>
  </div>
  <div class="col-9"><table class="table table-striped">
    <thead>
    <tr>
      <td>STT</td>
      <td>Name </td>
      <td>Price</td>
      <td>Category</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pro of listProduct ; index as i" >
      <td>{{i+1}}</td>
      <td>{{pro.name}}</td>
      <td>{{pro.price}}</td>
      <td>{{pro.category.name}}</td>
      <td><a [routerLink]="['edit',pro.id]">Edit</a></td>
      <td><a [routerLink]="['delete',pro.id]">Delete</a></td>
    </tr>

    </tbody>
  </table></div>
</div>
</div>


